<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexander.decorator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CondimentsActivity" />
        <activity android:name=".ChocolatePiecesActivity" />
        <activity android:name=".SyrupActivity" />
        <activity android:name=".LiquorActivity" />
        <activity android:name=".LastActivity" />
        <activity android:name=".ColorTeaTypeActivity" />
        <activity android:name=".MilkshakePortionTypeActivity" />
        <activity android:name=".PortionTwoTypeActivity"></activity>
    </application>

</manifest>